html, body{
  margin: 0;
  height: 100%;
}


@font-face {
  font-family: 'Schwager Sans';
  src: url("Minecraft-Seven_v2.woff2") format('woff2');
}

*{
  font-family: "Schwager Sans";
  color: var(--2);
}





a{
  color: wheat;
}

.shadow{
  text-shadow: 0px 0px 15px black;
  filter: drop-shadow(0px 0px 15px black) ;
}

:root{
--0: #666633;
--1: #336600;
--2: #b9ff73;
--3: #8cef28;
--brd: rgb(21, 42, 0);
}


section.hero > div.hero-grid > div, section, gallery{
  border: 2px groove black;
}

.hero-grid{
  display:grid;
  grid-template-columns: 1fr 2fr;
  gap: 5vh;
  padding: 2vh;
  row-gap: 10vh;
}


h1,h2,h3,h4{
  color: var(--3);
  text-shadow: 2px 0px 1px #62a71d, 4px 0px 1px #497d16;
}

.hero{
  background-image: url(images/podzol_top.png);
  background-size: 10%;
  image-rendering: pixelated;
  padding: 3vh;
  background-color: var(--0);
  height: 100vh;
  min-height: fit-content;
}

section .about{
  backdrop-filter: blur(1vh) brightness(30%);
  border-radius: 4vh;
  padding: 3vh;
  display: block;
  font-size: xx-large;
}

.block{
  backdrop-filter: blur(1vh) brightness(30%);
  border-radius: 4vh;
  padding: 3vh;
  font-size: xx-large;
  height: fit-content;
}

.mods > ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.about > h2{
  margin: 0;
}


h1{
  margin: 0;
}

.hero-content{
  backdrop-filter: blur(3vh) brightness(50%);
  border-radius: 4vh;
  display: block;
  padding: 3vh;
  font-size: xx-large;
  background-color: rgba(240, 248, 255, 0);
  backdrop-filter: blur(1vh) brightness(30%);
}

nav{
  z-index: 100;
  position: sticky;
  top: 3vh;
  background-size: contain;
  image-rendering: pixelated;
  font-size: large;
  border-radius: 4vh;
  margin: 0;
  width: 100%;
  backdrop-filter: blur(3vh) brightness(50%);
  padding: 10px 8% 10px 5%;
  justify-content: space-between;
  border: 2px groove black;
  align-items: center;
  box-sizing: border-box;
}


nav > * > * > *, nav > * > *{
  color: var(--2);
}

.flex{
  display: flex;
}

nav > ul{
  gap: 5%;
  list-style: none;
  padding-inline-start: 0px;
}


#map{
  transition: scale 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0 auto;
  border: none;
  width: 80vh;
  z-index: 1;
  image-rendering: pixelated;
  filter: drop-shadow(0px 0px 15px black);
  grid-column: span 2;
}

a{
  text-decoration: none;
}

#map:hover{
  z-index: 10;
  scale: 2;
}

gallery{
  grid-column: span 2;
  display: flex;
  width: 100%;
  overflow-x: auto;
  height: 50vh;
  background-color: #33660054;
  gap: 1vh;
  padding: 5px;

}

.rules > ul{
  line-height: 2em;
}

gallery > img{
  height: 100%;

}




.grid-left{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}

section.hero > div.hero-grid > .gall{
  border: none;
  font-size: xxx-large;
  margin: 0;
  padding: 0;
  text-align: center;
  filter: drop-shadow(1px 1px 10px black);
  grid-column: span 2;
}

.hr{
  grid-column: span 2;
  width: 100%;
  color: rgb(0, 0, 0);
  border-bottom: 12px black ridge;
}